.pagination {
    padding: 4px 8px;
    display: inline-flex;
    margin-right: 4px;
    border-radius: 4px;
    color: #459DF5;
}
.pagination_selected {
    color: #FFFFFF;
    background: #459DF5;
}
